body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    color: #202020;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #202020
}

h1,
h2,
h3,
p {
    margin: 0;
}

section {
    padding: 20px 0;
}